@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts-3by.pages.dev/rubik-v28-latin/rubik-v28-latin-300.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts-3by.pages.dev/rubik-v28-latin/rubik-v28-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts-3by.pages.dev/rubik-v28-latin/rubik-v28-latin-500.woff2")
    format("woff2");
}

/* Root Variables */
:root {
  /* Primary Colors */
  --profile: hsl(246, 80%, 60%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --selfcare: hsl(43, 84%, 65%);

  /* Neutral Colors */
  --background: hsl(226, 43%, 10%);
  --task-card-color: hsl(235, 46%, 20%);
  --hover-task-card-color: hsl(237, 30%, 35%);
  --light-text: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  /* Font */
  --ff: "Rubik";

  /* Font Sizes */
  --font-size-100: 0.75rem; /* 12px */
  --font-size-150: 0.875rem; /* 14px */
  --font-size-200: 1rem; /* 16px */
  --font-size-300: 1.25rem; /* 20px */
  --font-size-350: 1.5rem; /* 24px */
  --font-size-400: 2rem; /* 32px */
  --font-size-450: 2.25rem; /* 36px */
  --font-size-500: 3rem; /* 48px */
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  font-family: var(--ff), sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
}

img,
picture,
svg,
canvas,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Specific Element Adjustments */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.time-period-option.active{
  color: whitesmoke;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Layout Wrapper */
#dashboard-wrapper {
  min-width: 15rem; /* 240px */
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 1.25rem; /* 20px */
  align-self: center;
  margin: 3.125rem 1.25rem; /* 50px 20px */
}

#dashboard-wrapper .card-section{
  display: grid;
  gap: 1.25rem; /* 20px */
}


.profile-section {
  background-color: var(--task-card-color);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 9.375rem 3.125rem; /* 150px 50px */
}

.profile-header {
  background-color: var(--profile);
  border-radius: 15px;
  display: grid;
  gap: 0.1875rem 0.625rem; /* 3px 10px */
  grid-template-rows: 1.875rem 1.875rem; /* 30px 30px */
  grid-template-columns: 3.75rem minmax(5rem, 9.375rem); /* 60px minmax(80px, 150px) */
  justify-content: center;
  align-content: center;
  padding: 0 2.5rem; /* 0 40px */
  text-align: left;
}

.profile-header img {
  border: 4px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.profile-header .report-label {
  grid-row: 1 / 2;
  grid-column: 2 /3;
  font-size: var(--font-size-100);
  color: var(--Pale-Blue);
  align-self: end;
}
.profile-header .profile-name {
  grid-row: 2 / 3;
  grid-column: 2 /3;
  font-size: clamp(var(--font-size-150), 0.5rem + 2.4vi, var(--font-size-300));
  line-height: 1;
  color: whitesmoke;
  font-weight: 500;
}

.time-period-selector {
  display: flex;
  gap: 1.25rem; /* 20px */
  justify-content: space-evenly;
  align-items: center;
  color: var(--light-text);
}

.time-period-option {
  font-size: clamp(var(--font-size-150), 0.75rem + 0.8vi, var(--font-size-200));
  color: var(--light-text);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.time-period-option:hover {
  color: var(--Pale-Blue);
}

.task-card{
  display: grid;
  grid-template-rows: 2.5rem 8.75rem; /* 40px 140px */
  border-radius: 15px;
  overflow: hidden;
}
.task-card .card-wrapper{
  background-color: var(--task-card-color);
  border-radius: 15px;
  display: grid;
  gap: 0.3125rem; /* 5px */
  grid-template-rows: 1.875rem 2.5rem; /* 30px 40px */
  align-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task-card .card-wrapper:hover:not(:has(.more-options:hover)){
  background-color: var(--hover-task-card-color);
}
.task-icon{
  width: 100%;
  overflow: hidden;
}

.task-icon img{
  width: 100%;
  max-width: 6.25rem; /* 100px */
  object-fit: cover;
  justify-self: right;
  margin-right: 1.25rem; /* 20px */
}
.work-bg{
  background-color: var(--work);
}
.play-bg{
  background-color: var(--play);
}
.study-bg{
  background-color: var(--study);
}
.exercise-bg{
  background-color: var(--exercise);
}
.social-bg{
  background-color: var(--social);
}
.self-care-bg{
  background-color: var(--selfcare);
}

.task-card .card-wrapper .task-title-moreoption,
.task-card .card-wrapper .task-time{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 0 1.25rem; /* 20px */
  color: whitesmoke;
}
.task-title{
  font-size: var(--font-size-300);
  font-weight: 500;
}

.task-current-time{
  font-size: var(--font-size-400);
  font-weight: 300;
  justify-self: end;
}

.more-options{
  cursor: pointer;
  pointer-events: auto;
}

.task-previous-time{
  color: var(--light-text);
  font-weight: 500;
}

.more-options:hover{
  background-color: var(--task-card-color);
}


/*footer*/
footer{
  display: grid;
  grid-template-rows: auto 1.875rem auto; /* 30px */
  justify-self: center;
  color: var(--light-text);
  text-align: center;
  padding: 1.25rem; /* 20px */
}
footer a{
  color: var(--Pale-Blue);
  text-decoration: none;
}
footer .social-links{
  width: 100%;
  display: flex;
  gap: 0.625rem; /* 10px */
  justify-content: center;
  align-items: center;
  margin: 0.625rem 0; /* 10px 0 */
}

footer .social-links .social-link{
  transition: all 0.3s ease-in-out;
}

footer .social-links .social-link:hover{
  font-size: var(--font-size-350);
}


@media ( min-width: 590px) {
  #dashboard-wrapper {
    max-width: 71.25rem; /* 1140px */
    gap: 1.25rem; /* 20px */
    margin: 3.125rem 3.125rem; /* 50px 50px */
  }

  #dashboard-wrapper .card-section{
    display: grid;
    grid-template-rows: repeat(auto-fill, 13.75rem); /* 220px */
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr)); /* minmax(300px, 1fr) */
    gap: 1.25rem; /* 20px */
  }
  .profile-section {
    display: grid;
    grid-template-rows: 15.625rem; /* 250px */
    grid-template-columns: 2fr 0.5fr;
  }
  
  .profile-header {
    gap: 0.3125rem 0.625rem; /* 5px 10px */
    grid-template-columns: 5rem minmax(6.25rem, 15.625rem); /* 80px minmax(100px, 250px) */
  }
  
  .profile-header .report-label {
    font-size: var(--font-size-150);
  }
  .profile-header .profile-name {
    font-size: clamp(var(--font-size-350), 1rem + 1.356vi, var(--font-size-400));
  }
  
  .time-period-selector {
    flex-direction: column;
    gap: 0.625rem; /* 10px */
  }
  
  .time-period-option {
    font-size: clamp(var(--font-size-200), 0.75rem + 0.678vi, var(--font-size-300));
  }

  .task-card{
    display: grid;
    grid-template-rows: 3.75rem 10rem; /* 60px 160px */
    border-radius: 15px;
  }
  .task-card .card-wrapper{
    gap: 0.625rem; /* 10px */
  }
}

@media (min-width: 1180px) {
  main{
    height: 85%;
    width: 100%;
  }
  #dashboard-wrapper {
    max-width: 125rem; /* 2000px */
    grid-template-columns: 15.625rem minmax(43.75rem, 60rem); /* 250px minmax(700px, 960px) */
    gap: 1.875rem; /* 30px */
    justify-content: center;
    margin: 0 3.125rem; /* 0 50px */
    
  }
  #dashboard-wrapper .card-section{
    min-width: 100%;
    display: grid;
    gap: 1.25rem; /* 20px */
    grid-template-rows: 15.625rem; /* 250px */
    grid-template-columns: repeat(3, minmax(12.5rem, 18.75rem)); /* minmax(200px, 300px) */
  }
  .profile-section {
    background-color: var(--task-card-color);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 21.25rem 11.25rem; /* 340px 180px */
    grid-template-columns: 15.625rem; /* 250px */
  }

  .profile-section .profile-header{
    display: grid;
    gap: 0;
    grid-template-rows: 7.5rem auto 5.625rem; /* 120px auto 90px */
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    padding: 2.5rem; /* 40px */
    text-align: left;
  }
  .profile-header img {
    width: 6.25rem; /* 100px */
    border: 4px solid white;
    border-radius: 50%;
  }
  
  .profile-header .report-label {
    grid-area: auto;
    font-size: var(--font-size-200);
    align-self: end;
  }
  .profile-header .profile-name {
    grid-area: auto;
    font-size: clamp(var(--font-size-350), -0.607rem + 2.857vi, var(--font-size-450));
    line-height: 1;
    font-weight: 400;
  }


  .time-period-selector {
    display: flex;
    gap: 0.625rem; /* 10px */
    margin: 1.25rem; /* 20px */
    align-items: start;
  }
  
  .time-period-option {
    font-size:clamp(var(--font-size-200), 0.298rem + 0.952vi, var(--font-size-300));
    color: var(--light-text);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .task-card{
    grid-template-rows: 3.125rem 1fr; /* 50px 1fr */
  }
  .task-card .card-wrapper{
    gap: 0.625rem; /* 10px */
    padding: 1.875rem 0.625rem; /* 30px 10px */
    grid-template-rows: 1.875rem 1fr; /* 30px 1fr */
  }

  .task-card .card-wrapper .task-time{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items:start;
    padding: 0 1.25rem; /* 20px */
    color: whitesmoke;
  }
  .task-current-time{
    font-size: var(--font-size-500);
    font-weight: 300;
    justify-self: end;
  }
}

